In [50]:
import pandas as pd
movies_df = pd.read_excel('https://query.data.world/s/ynsc7amoi6qiyfm2ekb5cyz6qwepi6')

In [51]:
movies_df.to_csv("Data_sets/movies_df.csv",index=False)
movies_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

# Netflix Data

In [52]:
#Read in netflix data
netflix_df= pd.read_csv("Data_sets/netflix_titles.csv")
#re-add 'director' column
netflix_df= netflix_df.dropna(subset= ['cast'])
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [53]:
netflix_df['cast'] = netflix_df['cast'].apply(lambda x: x.split(','))

netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","[Alan Marriott, Andrew Toth, Brian Dobson, ...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,[Jandino Asporaat],United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"[Peter Cullen, Sumalee Montano, Frank Welker...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"[Will Friedle, Darren Criss, Constance Zimme...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"[Nesta Cooper, Kate Walsh, John Michael Higg...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [86]:
netflix_cast= netflix_df.explode('cast')
netflix_cast= netflix_cast[["title","duration","rating","listed_in","release_year","type","director","cast",
                           "country", "date_added"]]
netflix_cast= netflix_cast.rename(columns={"rating":"mpaa_rating","type":"media_type","cast":"netflix_cast"})
netflix_cast.head()

,title,duration,mpaa_rating,listed_in,release_year,media_type,director,netflix_cast,country,date_added
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Alan Marriott,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Andrew Toth,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Brian Dobson,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Cole Howard,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Jennifer Cameron,"United States, India, South Korea, China",9-Sep-19

In [74]:
#Transform data

#Removed unnecessary columns
clean_netflix_df= netflix_df[["title", "duration", "rating", "listed_in", "release_year", "type"]]

#Rename columns
clean_netflix_df= clean_netflix.rename(columns= {"rating":"mpaa_rating", "type":"media_type"})

clean_netflix_df.head()

,title,duration,mpaa_rating,listed_in,release_year,media_type
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie
1,Jandino: Whatever it Takes,94 min,TV-MA,Stand-Up Comedy,2016,Movie
2,Transformers Prime,1 Season,TV-Y7-FV,Kids' TV,2013,TV Show
3,Transformers: Robots in Disguise,1 Season,TV-Y7,Kids' TV,2016,TV Show
4,#realityhigh,99 min,TV-14,Comedies,2017,Movie

# Movie Data

In [67]:
#Transform data

#Removed unnecessary columns
reduced_movies_df= movies_df[["Title", "Runtime", "MPAA Rating", "Genre", "Release Date",
                              "Rating", "Rating Count", "Budget", "Gross"]]
reduced_movies_df= reduced_movies_df.rename(columns={"Title":"title", "Runtime":"duration", "MPAA Rating":"mpaa_rating",
                                "Genre":"genre", "Release Date":"release_date", "Rating":"user_rating",
                                "Rating Count":"rating_count", "Budget":"budget", "Gross":"gross"})

#reduced_movies_df["Gross"]= round(reduced_movies_df["Gross"]/1000000, 2)
reduced_movies_df.head()

,title,duration,mpaa_rating,genre,release_date,user_rating,rating_count,budget,gross
0,Look Who's Talking,93.0,PG-13,Romance,1989-10-12,5.9,73638.0,7500000.0,296000000.0
1,Driving Miss Daisy,99.0,PG,Comedy,1989-12-13,7.4,91075.0,7500000.0,145793296.0
2,Turner & Hooch,100.0,PG,Crime,1989-07-28,7.2,91415.0,13000000.0,71079915.0
3,Born on the Fourth of July,145.0,R,War,1989-12-20,7.2,91415.0,14000000.0,161001698.0
4,Field of Dreams,107.0,PG,Drama,1989-04-21,7.5,101702.0,15000000.0,84431625.0

## Transformed DFs

In [107]:
clean_netflix_df.to_csv("Data_sets/clean_netflix_df.csv",index=False)
netflix_cast.to_csv("Data_sets/clean_netflix_cast_df.csv",index=False)
reduced_movies_df.to_csv("Data_sets/clean_movies_df.csv", index=False)

In [108]:
clean_netflix_df.head()

,title,duration,mpaa_rating,listed_in,release_year,media_type
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie
1,Jandino: Whatever it Takes,94 min,TV-MA,Stand-Up Comedy,2016,Movie
2,Transformers Prime,1 Season,TV-Y7-FV,Kids' TV,2013,TV Show
3,Transformers: Robots in Disguise,1 Season,TV-Y7,Kids' TV,2016,TV Show
4,#realityhigh,99 min,TV-14,Comedies,2017,Movie

In [109]:
netflix_cast.head()

,title,duration,mpaa_rating,listed_in,release_year,media_type,director,netflix_cast,country,date_added
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Alan Marriott,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Andrew Toth,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Brian Dobson,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Cole Howard,"United States, India, South Korea, China",9-Sep-19
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,"Richard Finn, Tim Maltby",Jennifer Cameron,"United States, India, South Korea, China",9-Sep-19

In [110]:
reduced_movies_df.head()

,title,duration,mpaa_rating,genre,release_date,user_rating,rating_count,budget,gross
0,Look Who's Talking,93.0,PG-13,Romance,1989-10-12,5.9,73638.0,7500000.0,296000000.0
1,Driving Miss Daisy,99.0,PG,Comedy,1989-12-13,7.4,91075.0,7500000.0,145793296.0
2,Turner & Hooch,100.0,PG,Crime,1989-07-28,7.2,91415.0,13000000.0,71079915.0
3,Born on the Fourth of July,145.0,R,War,1989-12-20,7.2,91415.0,14000000.0,161001698.0
4,Field of Dreams,107.0,PG,Drama,1989-04-21,7.5,101702.0,15000000.0,84431625.0

In [111]:
#Appended dfs
app_net= clean_netflix_df.append(netflix_cast, ignore_index=True)
app_net.head()

,title,duration,mpaa_rating,listed_in,release_year,media_type,director,netflix_cast,country,date_added
0,Norm of the North: King Sized Adventure,90 min,TV-PG,"Children & Family Movies, Comedies",2019,Movie,NaN,NaN,NaN,NaN
1,Jandino: Whatever it Takes,94 min,TV-MA,Stand-Up Comedy,2016,Movie,NaN,NaN,NaN,NaN
2,Transformers Prime,1 Season,TV-Y7-FV,Kids' TV,2013,TV Show,NaN,NaN,NaN,NaN
3,Transformers: Robots in Disguise,1 Season,TV-Y7,Kids' TV,2016,TV Show,NaN,NaN,NaN,NaN
4,#realityhigh,99 min,TV-14,Comedies,2017,Movie,NaN,NaN,NaN,NaN

In [112]:
from config import password
from sqlalchemy import create_engine
conn= f"postgresql://postgres:{password}@localhost:5432/movieflicks_db"
engine= create_engine(conn)

In [113]:
engine.table_names()

['netflix', 'netflix_cast', 'movies']

In [114]:
clean_netflix_df.to_sql(con=engine, name="netflix", if_exists="append", index=False)

In [115]:
netflix_cast.to_sql(con=engine, name="netflix_cast", if_exists="append", index=False)

In [116]:
reduced_movies_df.to_sql(con=engine, name="movies", if_exists="append", index=False)